<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="btn-get">GET</button>
    <input id="input-name" type="text" placeholder="Enter name..." />
    <input
      id="input-description"
      type="text"
      placeholder="Enter description..."
    />
    <input id="input-price" type="number" placeholder="Enter price..." />
    <button id="btn-save">SAVE</button>
    <input
      type="file"
      id="filepicker"
      name="fileList"
      webkitdirectory
      multiple
    />
    <ul id="listing"></ul>
    <script src="./js/index.js"></script>
  </body>
</html>
